.game-page-body{
    /*background-color: #B9F6CA;*/
}

.game-page-game-info-area {

}

.game-page-game-tasks-area {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    /*background-color: #B9F6CA;*/
}

.game-page-game-tasks-paused-area {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: #B9F6CA;
}

.game-page-relation-name{
    margin-left: 10px;
}

.game-page-relation-icon{
    margin-top: -6px;
}

.game-page-game-tasks-area-hr {
    border-top: 1px solid black;
    margin-top: 15px;
    margin-bottom: 10px;
}

.test {

}
