<div class="row row-centered game-page-body">
    <div class="col-xs-12 col-centered">
        <div class="row game-page-game-info-area">
            <div class="col-xs-12">
                TODO: game info here! => {{vm.gameId}}
            </div>
        </div>
        <div class="row ">
            <div class="col-xs-12">
                <button class="btn btn-primary"
                        ng-click="vm.gameRelationActions.openScoreBoardTemplate()">
                    OpenScoreBoard
                </button>
                <button class="btn btn-primary"
                        ng-click="vm.gameRelationActions.openGameTaskByTeamsStatisticTemplate()">
                    OpenStatistics
                </button>
            </div>
        </div>
        <div class="row game-page-game-tasks-area"
             ng-if="vm.game != null && !vm.actions.isGamePaused() && !vm.actions.isGamePlanned()">
            <div class="col-xs-12">
                <div class="row game-page-game-task-in-progress"
                     ng-repeat="gameTask in vm.actions.getNotCompletedGameTasks()">
                    <ng-include src="vm.partialTemplates.gameTaskInProgressPartialTemplate" />
                </div>
                <hr class="game-page-game-tasks-area-hr"
                    ng-if="((vm.actions.getNotCompletedGameTasks()).length > 0) && ((vm.actions.getCompletedGameTasks()).length > 0)" />
                <div class="row game-page-game-task-completed"
                     ng-repeat="gameTask in vm.actions.getCompletedGameTasks()">
                    <ng-include src="vm.partialTemplates.gameTaskCompletedPartialTemplate" />
                </div>
            </div>
        </div>
        <div class="row row-centered game-page-game-tasks-paused-area"
             ng-if="vm.game != null && vm.actions.isGamePaused()">
            <h1>
                <i class="fa fa-spinner fa-pulse fa-5x"
                   title="{{vm.localize('GameIsPausedTittleText')}}"></i>
            </h1>
        </div>
    </div>
</div>