<div class="row row-centered">
    <div class="col-xs-12 col-centered">
        <canvas id="line"
                class="chart chart-line"
                chart-data="vm.data"
                chart-labels="vm.labels"
                chart-legend="true"
                chart-series="vm.series"></canvas>
    </div>
</div>