<div class="container-fluid" ng-controller="app.views.locations.locationListController as vm">
    <jTable id="locationTable"
            name="locationTable"
            title="vm.title"
            >
    </jTable>
</div>