<div class="container-fluid" ng-controller="app.views.divisions.divisionController as vm">
    <jtable title="vm.title" 
            paging="vm.paging" 
            actions="vm.actions" 
            messages="vm.messages" 
            filters="vm.filters" 
            fields="vm.fields" 
            records-loaded="vm.recordsLoaded" 
            row-inserted="vm.rowInserted" 
            toolbar="vm.toolbar" 
            loaded="vm.loaded()">
    </jtable>
</div>