<div class="container-fluid" ng-controller="app.views.divisions.divisionController as vm">
    <jtable id="divisionTable"
            name="divisionTable"
            title="vm.title"
            paging="vm.paging"
            actions="vm.actions"
            messages="vm.messages"
            filters="vm.filters"
            fields="vm.fields"
            records-loaded="vm.recordsLoaded"
            toolbar="vm.toolbar"
            loaded="vm.loaded()">
    </jtable>
</div>