.user-profile-page-header {

}

.user-profile-page-body {
    margin-top: 10px;
}

.user-profile-page-footer {

}

.user-profile-page-user-profile-template {
    background-color: #fff;
    margin-left: 0px;
    margin-right: 0px;
}

.user-profile-page-user-profile-template-row {
    margin-top: 20px;
    margin-bottom: 10px;
}

.user-profile-page-user-profile-template-row-buttons {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

.user-profile-page-user-profile-template-row-label {
    font-weight: normal;
}

.user-profile-page-user-profile-template-row-entity-property {
    font-style: italic;
    font-weight: bold;
}

.user-profile-page-user-team-profile-template {
    background-color: #fff;
    margin-left: 0px;
    margin-right: 0px;
}

.user-profile-page-user-profile-template-row-entity-property-control {

}

.user-profile-page-user-team-profile-template {
    background-color: #fff;
    margin-left: 0px;
    margin-right: 0px;
}

.user-profile-page-user-team-profile-template-row {
    margin-top: 20px;
    margin-bottom: 10px;
}

.user-profile-page-user-team-profile-template-row-label {
    font-weight: normal;
}

.user-profile-page-user-team-profile-template-row-entity-property {
    font-style: italic;
    font-weight: bold;
}

.user-profile-page-user-team-profile-template-svc-btns {
    margin-top: 20px;
    margin-bottom: 10px;
}

.user-profile-page-user-team-requests-template {
    background-color: #fff;
    margin-left: 0px;
    margin-right: 0px;
}

.user-profile-page-user-team-requests-template-request-body {
    margin-top: 20px;
    margin-bottom: 10px;
}

.user-profile-page-user-team-requests-template-request-body-team-name {
    font-style: italic;
    font-weight: bold;
}

.user-profile-page-user-captain-template {
    margin-top: 20px;
    margin-bottom: 10px;
}

.user-profile-page-user-captain-template-new-captain {

}

.user-profile-page-user-captain-template-new-request { 

}

.user-profile-page-user-captain-template-requests {

}

.user-profile-page-user-captain-template-request-body {
    margin-top: 10px;
    margin-bottom: 10px;
}

.user-profile-page-user-team-requests-template-request-body-user-name {

}