<div class="row city-quest-game-collection-game-description-partial-template-container">
    <div class="col-xs-12">
        <div class="row city-quest-game-collection-game-description-partial-template-name-container">
            <div class="col-xs-12">
                <h1>{{game.description}}</h1>
            </div>
        </div>
        <div class="row city-quest-game-collection-game-description-partial-template-text-container">
            <div class="col-xs-12">
                <label>{{vm.localize('Location')}}:&nbsp;</label> {{game.locationName'}}
            </div>
        </div>
        <div class="row city-quest-game-collection-game-description-partial-template-text-container">
            <div class="col-xs-12">
                <label>{{vm.localize('GameStatus')}}:&nbsp;</label> {{game.gameStatusName'}}
            </div>
        </div>
        <div class="row city-quest-game-collection-game-description-partial-template-text-container">
            <div class="col-xs-12">
                <label>{{vm.localize('StartDate')}}:&nbsp;</label> {{game.startDate | date 'YYYY-MM-DD HH:mm'}}
            </div>
        </div>
    </div>
</div>