<div class="row game-collection-template-container">
    <div class="col-xs-12">
        <div class="row game-collection-template-container-header">
            <div class="col-xs-12">
                <div class="row key-activator-container">
                    <div class="col-xs-12">
                        <h1>KeyActivator: </h1>
                        <div class="row">
                            <div class="col-xs-2">
                                Key:
                            </div>
                            <div class="col-xs-6">
                                <input class="form-control cq-control"
                                       ng-model="vm.keyActivatorService.keyValue" />
                            </div>
                            <div class="col-xs-2">
                                <button type="button"
                                        class="btn btn-success"
                                        ng-if="vm.keyActivatorService.canActivateKey()"
                                        ng-click="vm.keyActivatorService.activateKey()">
                                    Activate
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row game-collection-template-container-body">
            <div class="col-xs-12">
                <div class="row filters-container">
                    <div class="col-xs-12">
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th style="width:30%">{{vm.localize('GameID')}}</th>
                                    <th style="width:30%">{{vm.localize('GameName')}}</th>
                                    <th style="width:40%">{{vm.localize('IsActive')}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="game in vm.gameCollection">
                                    <td>{{game.id}}</td>
                                    <td>{{game.name}}</td>
                                    <td>{{game.isActive}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row game-collection-template-container-footer">
            <div class="col-xs-12">

            </div>
        </div>
    </div>
</div>
