.game-collection-template-container-header {
    margin-top: 10px;
    margin-bottom: 20px;
}

.key-activation-area {
    margin-top: 10px;
}

.cq-game-collection-game-image {
    margin: 3px;
    display: inline;
    cursor: pointer;
}

.cq-game-collection-game-image:hover {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 1px;
    margin-right: 5px;
    display: inline;
    cursor: pointer;
}

.popover.left {
    margin-left: 275px;
}