<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="app.views.layout.header as vm">
    <div class="city-quest-header-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">
                <i class="fa fa-map-signs"></i>
                @L("ApplicationName")
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-repeat="menuItem in vm.menu.items"
                    ng-class="{active: vm.isActive(menuItem), dropdown: menuItem.items.length != '0'}"
                    role="presentation">
                    <a ng-href="{{menuItem.url}}"
                       ng-if="menuItem.items.length == '0'">
                        <i class="{{menuItem.icon}}" ng-if="menuItem.icon"></i>
                        {{menuItem.displayName}}
                    </a>
                    <a ng-href="{{menuItem.url}}"
                       ng-if="menuItem.items.length != '0'"
                       class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-expanded="false">
                        <i class="{{menuItem.icon}}" ng-if="menuItem.icon"></i>
                        {{menuItem.displayName}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu"
                        ng-if="menuItem.items.length != '0'"
                        role="menu">
                        <li ng-repeat="subMenuItem in menuItem.items"
                            ng-class="{'active': vm.isActive(subMenuItem), 'dropdown-submenu':subMenuItem.items.length>0}"
                            role="presentation">
                            <a ng-if="subMenuItem.items.length == '0'"
                               ng-href="{{subMenuItem.url}}">
                                <i class="{{subMenuItem.icon}}" ng-if="menuItem.icon"></i>
                                {{subMenuItem.displayName}}
                            </a>
                            <a ng-href="{{subMenuItem.url}}"
                               ng-if="subMenuItem.items.length != '0'"
                               class="dropdown-toggle"
                               data-toggle="dropdown"
                               role="button"
                               aria-expanded="false">
                                <i class="{{subMenuItem.icon}}" ng-if="subMenuItem.icon"></i>
                                {{subMenuItem.displayName}}
                            </a>
                            <ul class="dropdown-menu"
                                ng-if="subMenuItem.items.length != '0'"
                                role="menu">
                                <li ng-repeat="item in subMenuItem.items"
                                    ng-class="{active: vm.isActive(item)}"
                                    role="presentation">
                                    <a ng-href="{{item.url}}">
                                        <i class="{{item.icon}}" ng-if="subMenuItem.icon"></i>
                                        {{item.displayName}}
                                    </a>
                                </li>
                            </ul>

                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="" data-toggle="dropdown">
                        <i ng-class="vm.currentLanguage.icon"></i>
                        <span>{{vm.currentLanguage.displayName}}</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="language in vm.languages"
                            ng-hide="vm.currentLanguage.name == language.name">
                            <a href="~/AbpLocalization/ChangeCulture?cultureName={{language.name}}">
                                <i ng-class="language.icon"></i>
                                {{language.displayName}}
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-if="vm.getAuthentication().isAuth" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {{vm.getAuthentication().userName}}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="vm.logout()"><i class="fa fa-sign-out"></i> @L("Logout") </a></li>
                    </ul>
                </li>
                <li ng-if="!vm.getAuthentication().isAuth"
                    ng-class="{active: vm.isCurrentStateLogin()}">
                    <a ng-click="vm.login()"><i class="fa fa-sign-in"></i> @L("Login") </a>
                </li>
            </ul>
        </div>
    </div>
</div>