<div class="modal-header">
    <div class="row row-centered">
        <div class="col-xs-12 text-center">
            <button type="button"
                    class="close"
                    title="{{vm.localize('ButtonCloseTitle')}}"
                    ng-click="vm.templateActions.close()">
                &times;
            </button>
            <label class="cq-modal-title-label">
                {{vm.title}}
            </label>
        </div>
    </div>
</div>
<div class="modal-body">
        <div class="row game-process-management-buttons-area"
             ng-if="vm.gameEntity != null">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        {{vm.localize('CurrentGameStatusIs')}}:&nbsp;{{vm.localize(vm.gameEntity.gameStatus.name)}}.
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10">
                        <button type="button"
                                class="btn btn-primary"
                                title="{{vm.localize('ButtonStartGameTitleText')}}"
                                ng-if="vm.templatePermissionsOnActions.canStartGame(vm.gameEntity)"
                                ng-click="vm.templateActions.startGame(vm.gameEntity.id)">
                            <i class="fa fa-play" style="color: #E0F2F1;"></i>&nbsp;&nbsp;{{vm.localize('ButtonStartGame')}}
                        </button>
                        <button type="button"
                                class="btn btn-primary"
                                title="{{vm.localize('ButtonPauseGameTitleText')}}"
                                ng-if="vm.templatePermissionsOnActions.canPauseGame(vm.gameEntity)"
                                ng-click="vm.templateActions.pauseGame(vm.gameEntity.id)">
                            <i class="fa fa-pause" style="color: #E0F2F1;"></i>&nbsp;&nbsp;{{vm.localize('ButtonPauseGame')}}
                        </button>
                        <button type="button"
                                class="btn btn-primary"
                                title="{{vm.localize('ButtonResumeGameTitleText')}}"
                                ng-if="vm.templatePermissionsOnActions.canResumeGame(vm.gameEntity)"
                                ng-click="vm.templateActions.resumeGame(vm.gameEntity.id)">
                            <i class="fa fa-play" style="color: #E0F2F1;"></i>&nbsp;&nbsp;{{vm.localize('ButtonResumeGame')}}
                        </button>
                        <button type="button"
                                class="btn btn-primary"
                                title="{{vm.localize('ButtonEndGameTitleText')}}"
                                ng-if="vm.templatePermissionsOnActions.canEndGame(vm.gameEntity)"
                                ng-click="vm.templateActions.endGame(vm.gameEntity.id)">
                            <i class="fa fa-stop" style="color: #E0F2F1;"></i>&nbsp;&nbsp;{{vm.localize('ButtonEndGame')}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    <hr style="color: black; border-top: 1px solid black;"/>
        <div class="row row-centered game-process-management-statistics-area">
            <div class="col-centered col-xs-10">
                <statistics-for-game-process-by-teams game-id="vm.gameId">
                </statistics-for-game-process-by-teams>
            </div>
        </div>
</div>
<div class="modal-footer">
    <button type="button"
            class="btn btn-primary"
            title="{{vm.localize('ButtonCloseTitle')}}"
            ng-click="vm.templateActions.close()">
        {{vm.localize('ButtonClose')}}
    </button>
</div>