.game-tasks-container-header {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 5px;
    background-color: #009688;
    border-top: 1px solid #004D40;
    border-left: 1px solid #004D40;
    border-right: 1px solid #004D40;
    border-bottom: 1px solid #004D40;
    border-radius: 5px 5px 0px 0px;
}

.cq-game-tasks-directive-btn {
    margin: 1px;
}

.game-tasks-container-body {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #E0F2F1;
    /*border-top: 1px solid #004D40;*/
    border-left: 1px solid #004D40;
    border-right: 1px solid #004D40;
    border-bottom: 1px solid #004D40;
    border-radius: 0px 0px 5px 5px;
}

.game-task-container {

}

.game-task-container-header {
    margin-top: 5px;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 0px;
    padding: 5px;
    background-color: #00796B;
    border-top: 1px solid #004D40;
    border-left: 1px solid #004D40;
    border-right: 1px solid #004D40;
    border-bottom: 1px solid #004D40;
    border-radius: 5px 5px 0px 0px;
}

.game-task-container-header-button-row {
    padding: 3px;
}

.game-task-container-header-text-row {
    padding: 5px;
    padding-left: 10px;
}

.game-task-name-in-container-header {
    padding: 5px;
    padding-left: 10px;
}

.game-task-container-body {
    margin-top: 0px;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 5px;
    background-color: #80CBC4;
    border-left: 1px solid #004D40;
    border-right: 1px solid #004D40;
    border-bottom: 1px solid #004D40;
    border-radius: 0px 0px 5px 5px;
}

.cq-game-tasks-builder-accordion {
    margin-top: 15px;
    background-color: #E0F2F1;
}