<div class="row user-profile-page-user-team-requests-template"
     ng-if="vm.userTeamRequests != null && vm.userTeamRequests.length > 0">
    <div class="col-xs-12">
        <div class="row user-profile-page-user-team-requests-template-request-body"
             ng-repeat="teamRequest in vm.userTeamRequests">
            <div class="col-xs-12">
                <span class="user-profile-page-user-team-requests-template-request-body-team-name">
                    {{teamRequest.teamName}}
                </span>
                <button type="button"
                        class="btn btn-danger pull-right cq-pull-btn"
                        title="{{vm.localize('ButtonDenyTeamRequestTitleText')}}"
                        ng-click="vm.actions.answerOnTeamRequest(teamRequest.id, false)">
                    {{vm.localize('ButtonDenyTeamRequestText')}}
                </button>
                <button type="button"
                        class="btn btn-primary pull-right cq-pull-btn"
                        title="{{vm.localize('ButtonAcceptTeamRequestTitleText')}}"
                        ng-click="vm.actions.answerOnTeamRequest(teamRequest.id, true)">
                    {{vm.localize('ButtonAcceptTeamRequestText')}}
                </button>
            </div>
        </div>
    </div>
</div>