<div class="row tips-container-header"
     ng-if="tipsBuilder.templateModeState.isCreate() || tipsBuilder.templateModeState.isUpdate()">
    <button type="button"
            class="btn btn-sm btn-danger pull-right cq-tips-directive-btn"
            title="{{tipsBuilder.localize('ClearAllTipsTittleText')}}"
            ng-if="tipsBuilder.tipPermissionsOnActions.canDeleteAllTips()"
            ng-click="tipsBuilder.tipActions.deleteAllTips()">
        {{tipsBuilder.localize('ButtonClearTips')}}
    </button>
    <button type="button"
            class="btn btn-sm btn-danger pull-right cq-tips-directive-btn"
            title="{{tipsBuilder.localize('ReloadTipsTittleText')}}"
            ng-if="tipsBuilder.tipPermissionsOnActions.canReloadTips()"
            ng-click="tipsBuilder.tipActions.reloadTips()">
        {{tipsBuilder.localize('ButtonReloadTips')}}
    </button>
    <button type="button"
            class="btn btn-sm btn-success pull-right cq-tips-directive-btn"
            title="{{tipsBuilder.localize('AddTipOnBottomTittleText')}}"
            ng-if="tipsBuilder.tipPermissionsOnActions.canAddTipOnBottom()"
            ng-click="tipsBuilder.tipActions.addTipOnBottom()">
        {{tipsBuilder.localize('ButtonAddTipOnBottom')}}
    </button>
    <button type="button"
            class="btn btn-sm btn-success pull-right cq-tips-directive-btn"
            title="{{tipsBuilder.localize('AddTipOnTopTittleText')}}"
            ng-if="tipsBuilder.tipPermissionsOnActions.canAddTipOnTop()"
            ng-click="tipsBuilder.tipActions.addTipOnTop()">
        {{tipsBuilder.localize('ButtonAddTipOnTop')}}
    </button>
</div>
<div class="row tips-container-body"
     ng-if="tipsBuilder.tips.length > 0">
    <div class="col-xs-12">
        <div class="row tip-container"
             ng-repeat="tip in tipsBuilder.tips">
            <div class="col-xs-12">
                <div class="row tip-container-header">
                    <div class="col-xs-12">
                        <div class="row tip-container-header-button-row">
                            <div type="button"
                                 class="pull-right btn btn-danger ng-scope btn-xs cq-icon-white-button"
                                 title="{{tipsBuilder.localize('DeleteTittleText')}}"
                                 ng-if="tipsBuilder.tipPermissionsOnActions.canDeleteTip(tip)"
                                 ng-click="tipsBuilder.tipActions.deleteTip(tip.order)">
                                <span>
                                    <i class="fa fa-times"></i>
                                </span>
                            </div>
                            <div type="button"
                                 class="pull-left btn btn-warning ng-scope btn-xs cq-icon-black-button"
                                 title="{{tipsBuilder.localize('MinimizeTittleText')}}"
                                 ng-if="tipsBuilder.tipPermissionsOnActions.canMinimize(tip)"
                                 ng-click="tipsBuilder.tipActions.minimize(tip.order)">
                                <span>
                                    <i class="fa fa-minus"></i>
                                </span>
                            </div>
                            <div type="button"
                                 class="pull-left btn btn-warning ng-scope btn-xs cq-icon-black-button"
                                 title="{{tipsBuilder.localize('MaximizeTittleText')}}"
                                 ng-if="tipsBuilder.tipPermissionsOnActions.canMaximize(tip)"
                                 ng-click="tipsBuilder.tipActions.maximize(tip.order)">
                                <span>
                                    <i class="fa fa-square-o"></i>
                                </span>
                            </div>
                            <div type="button"
                                 class="pull-left btn btn-warning ng-scope btn-xs cq-icon-black-button"
                                 title="{{tipsBuilder.localize('MoveUpTittleText')}}"
                                 ng-if="tipsBuilder.tipPermissionsOnActions.canMoveTipUp(tip)"
                                 ng-click="tipsBuilder.tipActions.moveTipUp(tip.order)">
                                <span>
                                    <i class="fa fa-chevron-up"></i>
                                </span>
                            </div>
                            <div type="button"
                                 class="pull-left btn btn-warning ng-scope btn-xs cq-icon-black-button"
                                 title="{{tipsBuilder.localize('MoveDownTittleText')}}"
                                 ng-if="tipsBuilder.tipPermissionsOnActions.canMoveTipDown(tip)"
                                 ng-click="tipsBuilder.tipActions.moveTipDown(tip.order)">
                                <span>
                                    <i class="fa fa-chevron-down"></i>
                                </span>
                            </div>
                            <div type="button"
                                 class="pull-left btn btn-warning ng-scope btn-xs cq-icon-black-button"
                                 title="{{tipsBuilder.localize('MoveToTopTittleText')}}"
                                 ng-if="tipsBuilder.tipPermissionsOnActions.canMoveTipToTop(tip)"
                                 ng-click="tipsBuilder.tipActions.moveTipToTop(tip.order)">
                                <span>
                                    <i class="fa fa-arrow-up"></i>
                                </span>
                            </div>
                            <div type="button"
                                 class="pull-left btn btn-warning ng-scope btn-xs cq-icon-black-button"
                                 title="{{tipsBuilder.localize('MoveToBottomTittleText')}}"
                                 ng-if="tipsBuilder.tipPermissionsOnActions.canMoveTipToBottom(tip)"
                                 ng-click="tipsBuilder.tipActions.moveTipToBottom(tip.order)">
                                <span>
                                    <i class="fa fa-arrow-down"></i>
                                </span>
                            </div>
                        </div>
                        <div class="row tip-container-header-text-row"
                             ng-if="tip.name">
                            <span class="tip-name-in-container-header">{{tip.name}}</span>
                        </div>
                    </div>
                </div>
                <div class="row tip-container-body">
                    <div class="col-xs-12"
                         ng-if="!tip.isMinimized">
                        <accordion close-others="oneAtATime">
                            <accordion-group heading="{{tipsBuilder.localize('TipMainInfo')}}"
                                             is-open="true"
                                             class="cq-tips-builder-accordion">
                                <div class="row cq-control-row">
                                    <div class="col-xs-2 cq-control-label">
                                        {{tipsBuilder.localize('Name')}}:&nbsp;
                                    </div>
                                    <div class="col-xs-10">
                                        <input class="form-control cq-control"
                                               ng-disabled="!(tipsBuilder.templateModeState.isCreate() || tipsBuilder.templateModeState.isUpdate())"
                                               ng-readonly="!(tipsBuilder.templateModeState.isCreate() || tipsBuilder.templateModeState.isUpdate())"
                                               ng-model="tip.name" />
                                    </div>
                                </div>
                                <div class="row cq-control-row">
                                    <div class="col-xs-2 cq-control-label">
                                        {{tipsBuilder.localize('Description')}}:&nbsp;
                                    </div>
                                    <div class="col-xs-10">
                                        <textarea class="form-control cq-control"
                                                  ng-disabled="!(tipsBuilder.templateModeState.isCreate() || tipsBuilder.templateModeState.isUpdate())"
                                                  ng-readonly="!(tipsBuilder.templateModeState.isCreate() || tipsBuilder.templateModeState.isUpdate())"
                                                  rows="3"
                                                  ng-model="tip.description" />
                                    </div>
                                </div>
                            </accordion-group>
                        </accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>