.city-quest-header-container {
    margin-left: 15px;
    margin-right: 20px;
}

.city-quest-body-container {
    margin-left: 15px;
    margin-right: 15px;
}

input, button, select, textarea {
    color: #222222;
}

.cq-icon-white-button {
    color: #ffffff;
    margin-left: 1px;
    margin-right: 1px;
}

.cq-icon-black-button {
    color: #000000;
    margin-left: 1px;
    margin-right: 1px;
}

.cq-main-info-accordion {

}

.cq-control {
    width: 100%;
}