.team-info {
    height: 30px;
    margin: 1px;
    width: 30px;
}

.team-edit {
    height: 30px;
    margin: 1px;
    width: 30px;
}

.team-activate {
    height: 30px;
    margin: 1px;
    width: 30px;
}

.team-deactivate {
    height: 30px;
    margin: 1px;
    width: 30px;
}

.team-delete {
    height: 30px;
    margin: 1px;
    width: 30px;
}

