/* cq-table TODO: move styles to appropriate file */
.cq-filter-panel {
  border-left: 2px solid #2d89ef;
  border-right: 2px solid #2d89ef;
  padding: 10px;
}

.jtable-main-container .jtable-title {
  border-radius: 6px 6px 0 0;
}

.jtable-main-container .jtable-bottom-panel {
    border-radius: 0px 0px 6px 6px;
}
