<div class="col-xs-12">
    <div class="row game-page-game-task-condition-header">
        <div class="col-xs-12">
            <i class="pull-left fa fa-check fa-lg"></i>
            <label>{{condition.name}}</label>
        </div>
    </div>
    <div class="row game-page-game-task-condition-body">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    {{condition.conditionType.name}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    {{condition.description}}
                </div>
            </div>
            <div class="row cq-control-row">
                <div class="col-xs-2 cq-control-label">
                    {{vm.localize("Value")}}: &nbsp;
                </div>
                <div class="col-xs-8">
                    <input class="form-control cq-control"
                           ng-disabled="gameTask.isCompleted || condition.lockedForPass"
                           ng-readonly="gameTask.isCompleted || condition.lockedForPass"
                           ng-model="condition.tryPassValue" />
                </div>
                <div class="col-xs-2">
                    <button type="button"
                            class="btn btn-success"
                            ng-disabled="gameTask.isCompleted || condition.lockedForPass"
                            ng-if="vm.permissionsOnActions.canTryToPassCondition(gameTask, condition, condition.tryPassValue)"
                            ng-click="vm.actions.tryToPassCondition(gameTask, condition, condition.tryPassValue)">
                        {{vm.localize("Submit")}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>