<div class="col-xs-12">
    <div class="row game-page-game-task-in-progress-tip-header"
         ng-click="vm.gameRelationActions.changeTipViewMode(tip)">
        <div class="col-xs-12">
            <i class="pull-left fa fa-exclamation fa-lg"></i>
            <span @*class="game-page-relation-in-progress-name"*@>{{tip.name}}</span>
        </div>
    </div>
    <div class="row game-page-game-task-in-progress-tip-body"
         ng-if="!tip.isShortViewMode">
        <div class="col-xs-12">
            <div class="row game-page-game-task-in-progress-tip-body-text">
                {{tip.tipText}}
            </div>
        </div>
    </div>
</div>